<a href="https://colab.research.google.com/github/Neto33rec/Aulas/blob/main/Aula%2011.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(1,13, 3):
 print(i)

1
4
7
10

In [ ]:
numero = int(input("Digite um número para ver a tabuada (entre 1 e 100): "))
for i in range(1, 101):
 resultado = numero * i
 print(f"{numero} x {i} = {resultado}")

Digite um número para ver a tabuada (entre 1 e 100): 70
70 x 1 = 70
70 x 2 = 140
70 x 3 = 210
70 x 4 = 280
70 x 5 = 350
70 x 6 = 420
70 x 7 = 490
70 x 8 = 560
70 x 9 = 630
70 x 10 = 700
70 x 11 = 770
70 x 12 = 840
70 x 13 = 910
70 x 14 = 980
70 x 15 = 1050
70 x 16 = 1120
70 x 17 = 1190
70 x 18 = 1260
70 x 19 = 1330
70 x 20 = 1400
70 x 21 = 1470
70 x 22 = 1540
70 x 23 = 1610
70 x 24 = 1680
70 x 25 = 1750
70 x 26 = 1820
70 x 27 = 1890
70 x 28 = 1960
70 x 29 = 2030
70 x 30 = 2100
70 x 31 = 2170
70 x 32 = 2240
70 x 33 = 2310
70 x 34 = 2380
70 x 35 = 2450
70 x 36 = 2520
70 x 37 = 2590
70 x 38 = 2660
70 x 39 = 2730
70 x 40 = 2800
70 x 41 = 2870
70 x 42 = 2940
70 x 43 = 3010
70 x 44 = 3080
70 x 45 = 3150
70 x 46 = 3220
70 x 47 = 3290
70 x 48 = 3360
70 x 49 = 3430
70 x 50 = 3500
70 x 51 = 3570
70 x 52 = 3640
70 x 53 = 3710
70 x 54 = 3780
70 x 55 = 3850
70 x 56 = 3920
70 x 57 = 3990
70 x 58 = 4060
70 x 59 = 4130
70 x 60 = 4200
70 x 61 = 4270
70 x 62 = 4340
70 x 63 = 4410
70 x 64 = 4480
70 x 65 = 4550
70 x 66 = 4620
70 x 67 = 4690
70 x 68 = 4760
70 x 69 = 4830
70 x 70 = 4900
70 x 71 = 4970
70 x 72 = 5040
70 x 73 = 5110
70 x 74 = 5180
70 x 75 = 5250
70 x 76 = 5320
70 x 77 = 5390
70 x 78 = 5460
70 x 79 = 5530
70 x 80 = 5600
70 x 81 = 5670
70 x 82 = 5740
70 x 83 = 5810
70 x 84 = 5880
70 x 85 = 5950
70 x 86 = 6020
70 x 87 = 6090
70 x 88 = 6160
70 x 89 = 6230
70 x 90 = 6300
70 x 91 = 6370
70 x 92 = 6440
70 x 93 = 6510
70 x 94 = 6580
70 x 95 = 6650
70 x 96 = 6720
70 x 97 = 6790
70 x 98 = 6860
70 x 99 = 6930
70 x 100 = 7000

In [39]:
numero = int(input("Digite um número para ver a tabuada:(1-10) "))
inicio = int(input("Digite o valor inicial da tabuada: "))
fim = int(input("Digite o valor final da tabuada: "))
if fim >= inicio and fim <= 10:
 print(f"\nTabuada do {numero} de {inicio} a {fim}:\n")
 for i in range(inicio, fim + 1):
  resultado = numero * i
  print(f"{numero} x {i} = {resultado}")
else:
  print("O valor final deve ser válido!")

Digite um número para ver a tabuada:(1-10) 7
Digite o valor inicial da tabuada: 5
Digite o valor final da tabuada: 9

Tabuada do 7 de 5 a 9:

7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

In [ ]:
numero = int(input("digite a quantidade do conjunto de numeros: "))
menor, maior ,soma = 0,0,0
primeira_vez = True

for i in range(numero):
  valor = int(input("digite o valor: "))

print (i)

digite a quantidade do conjunto de numeros: 1
digite o valor: 5
0

In [ ]:
soma = 0
for i in range(1, 100, 2):
 soma += i
print(f"Soma dos números ímpares: {soma}")

Soma dos números ímpares: 2500

In [ ]:
import random
for encontro in range(1, 5):
 pokemon_aleatorio = random.randint(1, 5)

 if pokemon_aleatorio == 1:
  pokemon_encontrado = "Pikachu"
 elif pokemon_aleatorio == 2:
  pokemon_encontrado = "Charmander"
 elif pokemon_aleatorio == 3:
  pokemon_encontrado = "Chikorita"
 else:
  pokemon_encontrado = "Bulbasaur"

 print(f"Encontro {encontro}: Você encontrou um {pokemon_encontrado}!")

Encontro 1: Você encontrou um Pikachu!
Encontro 2: Você encontrou um Chikorita!
Encontro 3: Você encontrou um Pikachu!
Encontro 4: Você encontrou um Bulbasaur!